@model IEnumerable<WEB_CRUD.Models.TaskEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescriprion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescriprion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskEntityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskEntityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskEntityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
